body{
    background-color: #c7cad0;    
}
h1{
    text-align: center;
    color: #bc6cd9;
}
h2{
    color: #bc6cd9;
}
p{
    font-size: large;
    text-align: center;
    font-family: bold;
    color: blue;
}
img{
    max-width: 50%;
    max-height: 50%;
}

ul li{
    color: green;
    background-color: yellow;
    font-size: 15px;
    text-align: center;
}

ol li{
    font-size: 30px;
    color: violet;
    font-family: bold;
}


.enviar{
    border: solid;
    border-radius: 10px;
    background-color: #00FF00;
    color: #000000;
}


.etiqueta{
    font-size: 15px;
    background-color: #ffbbbb;
}
/*
mezclar estos colores para sacar combinaciones
Blanco - #FFFFFF 
Negro - #000000

+-+-+-+--+-+-+-+-+-+--
Azul - #0000FF
Verde - #00FF00
Rojo - #FF0000
*/


